.container{
    height: 90%;   
    position: relative;
   
}
.containerCarrinho{
    height: 100%;

}
.carrinhoVazio{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    flex-direction: column;
    color: rgb(187, 185, 185);
}
.carrinhoItems{
    height: 69%;
    overflow: scroll;
}
h1{
    font-size: 30px;
}
.botaoComprar{
    position: absolute;
    z-index: 10;
   width: 98%;
   bottom: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border: 3px solid rgba(206, 205, 205, 0.356);
height: 30%;
box-shadow: 2px -10px 40px 10px rgba(0, 0, 0, 0.082);
}

.totalContainer{
    
    display: flex;
    flex-direction: column;
    width: 87.5%;
  
    padding: 1px;
    
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 19px;
}
.textosTaxaEntrega{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgba(206, 205, 205, 0.356);
}
.textosTotal{
    display: flex;
    justify-content: space-between;
}
.linkContainer{
    width: 90%;
    color: white;
    text-decoration: none;
}

.botao{
    text-align: center;
    background-color: rgb(255, 123, 0);
    padding-left: 35%;
    padding-right: 35%;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.137);
    margin: 0;
}