.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    
}
.Card{
    background-color: #181818;
    
    background-color: rgba(219, 219, 219, 0.26);
    width: 90%;
    
    height: 200px;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.Card img{
    width: 50%;
    height: 80%;
    object-fit: cover;
}
.cardFooter{
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-left: 10px;
}
.cardFooter p{
    font-size: 20px;
    color:#181818;
    margin: 0;
    padding: 0;
    
    font-size: 26px;
}

.cardFooterRight svg{
    font-size: 45px;
    color: #FF9900 !important;
    
}
.cardFooterRight{
   height: 100%;
  
    
}
.addToCart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.addToCart button{
    
    font-size: 15px;
    margin: 0;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #FF9900;
}
.textoSaibaMais {
    color: #FF9900 !important;
    font-size: 20px !important;
}