.container{
    background-color: #FF9900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container svg{
    font-size: 40px;
    
}
.menu{
    margin-left: 20px;
}
.carrinho{
    margin-right: 20px;   
    position: relative;
    color: black;
}
.redCircle{
    background-color: red;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    color: white;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
}
.logo{
    width: 90px;
    height: 80px;
}