.container{
    background-color: rgb(230, 230, 230);
    width: 92%;
    height: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.356);
    border-radius: 5px;
}
.leftPedido{
 display: flex;
 flex-direction: column;   
 width: 50%;
 border-radius: 5px;
}
.rightPedido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    border-radius: 5px;

}
.pedidosText{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    height: 65%;
    font-size: 20px;
}
.pedidosButton{
width: 60%;
background-color: rgb(7, 255, 7);
background-color: rgb(255, 7, 7);
text-align: center;
font-size: 22px;
border-radius: 10px;
color: white;
}
